.principalContainer{

    max-width: 95vw;

    .titleArea{
        display: grid;
        grid-template-columns: 1fr 1fr;
        a{
            margin: 40px 0px 0px 0px;
            justify-self: end;  
        }
        .title{
            margin: 40px 0px 20px 10px;
            font-size: 14pt;
        }
    }
    
    .container{
        margin: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    
        .files{
            margin: 0px 0px 0px 40px;
            background-color: var(--grey) ;
            min-height:  400px;
            max-width: 400px;
        }
        .renderFiles{
            margin: 0px 0px 0px 0px;
            background-color: var(--grey);
            min-height:  800px;
            max-width: 1000px;
        }
    }
    
}