.siContainer{
    text-align: center;
    margin-bottom: 7vh;

    .siTitle{
        margin-bottom: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        span{
            color: var(--orange) !important;
        }
    }
   
    .siInput{
        width:462px;
        height:45px;
        border: 1px solid var(--Gainsboro);
        border-radius: 10px 0px 0px 10px;
        padding: 20px;
        letter-spacing: 5px;
    }
    

    button{
        background: transparent;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid var(--Gainsboro);
        width:162px;
        height:45px;
        padding: 10px;
    }

    .result{
        align-self: center;
        margin-top: 7vh;
        

        
        a{
            text-decoration: none;
            color: var(--black);
            font-size: 14pt;
            width: 2;
            margin:0 10vw 0 5vw;
            

      
          }
          .img{
            text-align: center;
          }
    }
}