/*Login*/
.loginContainer{
  background: var(--white);
  border: 1px solid var(--lead);
  max-width: 50vw;
  min-height: 50vh;

  margin: auto;
  margin-top: 10vh;
  text-align: center;
  border-radius: 10px;
  padding: 40px 0px 40px 0px;

  h1{
    font-weight:lighter;
  }
}

/* Página principal*/
.principalContainer{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 49% 2% 49%;
  margin: 1rem 0rem 0rem 0rem;

 
  .mostSearchedProcesses{

    h3{
      text-align: center;
    }
    main{
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 4rem 0rem 0rem 0rem;

      a{
        justify-self: start;
        text-decoration: none;
        color: var(--black);
        font-size: 14pt;
        width: 2;
  
      }
      .img{
        text-align: end;
      }
    }
  }
 hr{
   width: 1px;
 }
 .exclusiveProcesses{
  h3{
    text-align: center;
  }
  main{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 4rem 0rem 0rem 0rem;

    a{
      justify-self: start;
      text-decoration: none;
      color: var(--black);
      font-size: 14pt;
      width: 2;

    }
    .img{
      text-align: end;
    }
  }
}
}





/*Pagina de proceessos*/
.principalContainer2{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 1rem 0rem 0rem 0rem;

    a{
      justify-self: start;
      text-decoration: none;
      color: var(--black);
      font-size: 14pt;
      width: 2;

    }
    .img{
      text-align: end;
    }
  }