.principalContainer{
  display:grid;
  grid-template-rows: 5vh 65vh 5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ."
                       ". A B ."
                       ". . . .";


  .mostSearchedProcessesContainer{
    grid-area: A;
    
    height: calc(50vh - 1.5rem);
    overflow-y:scroll;

    a{
      text-decoration: none;
      color: var(--black);
    }

    .mostSearchedTitle{

    font-weight: bolder;
    font-size: 2.25vh;
    }

  }
    
  .exclusiveProcessesContainer{
    grid-area: B;

    a{
      text-decoration: none;
      color: var(--black);
    }

  .exclusiveProcessesTitle{
    font-weight: bolder;
    font-size: 2.25vh;
    
    }
  }
}