.principalContainer{
  display:grid;
  grid-template-rows: 8vh 90vh 2vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ."
                       ". A B ."
                       ". . . .";


  .mostSearchedProcessesContainer{
    grid-area: A;

  }
  
  
  .exclusiveProcessesContainer{
    grid-area: B;


  }
}