.headerContainer{
    ul{
        display: flex;

        li{
            list-style: none;
            a{
                text-decoration: none;
                color: var(--black);
                padding: 10px 2px 10px 2px;
                margin-left: 600px;

                img{
                    margin-left: 14px;
                }
            }
        }
    }
  
}