.footerContainer{
   margin-top: 10rem;
   position:absolute;
   bottom:0;
   width:100%;
   display: inline-block;
   padding: 0 1% 0.5% 1%;
}
.footerObject1{
   float: left;
}
.footerObject2{
   float: right;

   a{
      text-decoration: none;
      color: #F7580B;
   }
}
