.footerContainer{
   position:absolute;
   bottom:auto;
   width:100%;
   padding: 0 1% 0.5% 1%;
   height: 20vh;
}
.footerObject1{
   float: left;
   margin-top: 18vh;
}
.footerObject2{
   float: right;
   margin-top: 18vh;
   a{
      text-decoration: none;
      color: #F7580B;
   }
}
