.footerContainer{
   position:absolute;
   bottom:auto;
   width:100%;
   padding: 0 1% 0.5% 1%;
}
.footerObject1{
   float: left;
}
.footerObject2{
   float: right;

   a{
      text-decoration: none;
      color: #F7580B;
   }
}
